.btn-default{
	border: 0;
	padding: 7px 30px;
	border-radius: 3px;
	font-weight: 300;
	font-size: 16px;
}

.btn-bordered{
	border: 1px #eee solid;
	@media (max-width: 768px){
        margin-bottom: 15px;
    }
}

#send_brief{
	@media (max-width: 1024px){
        display: none;
    }
}