.clients-list{
    margin-top: -60%;
}

.client{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: inset 4px 0 16px rgba(0, 0, 0, 0.07);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}
.clients_title{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 30px;
    opacity: 0.2;
}
.client_logo{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0.8;
}
@media (max-width: 768px){
    margin-top: 30px;
}
