$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables.scss";

@import "fonts.scss";

html{
    background-color: #fff;
}

html, body, .main-wr{
    width: 100%;
    padding: 0;
}

body{
    margin-top: 50px;
    font-size: 15px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0 16px rgba(0, 0, 0, 0.07);
    font-family: 'museo_sans_cyrl','Museo Sans Cyrl','Lato',Verdana,Arial,sans-serif;
    @media (max-width: 768px){
        max-width: 100%;
        margin-top: 0;
    }
}

.main-wr{
    position: relative;
}

section{
    padding: 0 15px;
}

h3{
    margin: 0;
}

p{

}

.text-body{
    color: #555;
    font-family: 'Helvetica';
    line-height: 1.6;
}

.text-body--lg{
    font-size: 20px;
}

.text-body--thin{
    font-weight: 100;
}

.section--main{
    // .row{
        // padding-top: 210px;
        // padding-bottom: 120px;
        position: relative;
    // }
}

.section--fullscreen{
    width: 100%;
    height: 1000px;
    position: relative;
    .section--fullscreen_inner-wr{
        width: 100%;
        height: 100%;
        display: table;
        .section--fullscreen_inner{
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.main-cols{
    height: 100%;
    border-right: 1px #f7f7f7 solid;
    // box-shadow: 5px 0 16px rgba(0, 0, 0, 0.03);

    @media (max-width: 768px){
        display: none;
    }
}

.bg-wr{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

@import "services.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.section__logo{
    @media (max-width: 768px){
        padding: 60px 30px;
    }
}

.logo-title{
    font-size: 69px;
    font-weight: 100;
    letter-spacing: 6px;
    margin: 0;
    margin-bottom: 8px;
}

// Снизу
// .logo-title_subtext{
//     position: absolute;
//     left: 127%;
//     width: 200px;
//     margin: 0;
//     top: 62%;
//     font-size: 17px;
//     color: #888;
//     font-family: "Helvetica";
//     font-weight: 100;
//     letter-spacing: 1px;
    // opacity: 0.5;
// }

// Центр
.logo-title_subtext{
    position: absolute;
    left: 193px;
    width: 200px;
    margin: 0;
    top: 34%;
    font-size: 18px;
    // color: #888;
    // font-family: "Helvetica";
    font-weight: 100;
    letter-spacing: 0.5px;
    opacity: 0.6;
}

.logo-title__first{
    letter-spacing: 10px;
}

.logo-title__second{
    letter-spacing: 8px;
}

.logo-title__third{
    letter-spacing: 11px;
}

.logo-title_circles{
    margin-left: 10px;
}

.logo-title_circle{
    border-radius: 50%;
    background-color: #545454;
    width: 4px;
    height: 4px;
    display: inline-block;
    margin-right: 75px;
    &.logo-title_circle__1{
        // margin-right: 71px;
    }
    &.logo-title_circle__4{
        margin-left: 3px;
        margin-right: 69px;
    }
    &.logo-title_circle__5{
        background-color: $color__golden__light;
        width: 12px;
        height: 12px;
        // margin-left: 3px;
        // margin-right: 71px;
    }
    &.logo-title_circle__6{
        margin-left: 4px;
        // margin-right: 71px;
    }
    &:last-child{
        margin-right: 0;
    }
}

@media (min-width: 1200px){
    .container{
        width: 1200px;
    }
}

// Navigation

@import './navigation.scss';

// Clients

@import "./clients.scss";

// Portfolio

@import './portfolio.scss';

// Web-analysis

.section--web-analysis{
    padding: 240px 0 120px;
}

// Contacts
.section__contacts{
    padding: 120px 0 120px;
}

.contacts_content{
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 30px;
}

.contacts_table td{
    padding: 5px 0 15px 15px;
    font-size: 20px;
    vertical-align: top;
    font-weight: 100;
}

td.contacts_name{
    font-size: 18px;
    font-weight: 400;
}

.contacts_img{
    width: 40%;
    margin: 0 auto;
    display: block;
    position: relative;
}

.contacts_map-wr{
    height: 350px;
    margin-top: 120px;
    background-color: #eee;
    padding: 0;
}

@import "./typo.scss";

// Util

@import './util.scss';
@import './buttons.scss';