// Плохо! А произошло, потомучто мне надо отметить первый блок с портфолио
// тенью сверху
.section__portfolio:nth-child(4){
    box-shadow: 0 0 30px rgba(0,0,0,.05);
}

.section__portfolio, .section--portfolio{
    display: none;
}

.portfolio-items{
    position: relative;
    padding: 0;
    // padding: 30px;
    &.portfolio-items--quadra{
        &:first-child{
            // padding-right: 7.5px;
            border-right: 1px solid #f1f1f1
        }
        &:not(:first-child){
            // padding-left: 7.5px;
        }
    }
}

// Переназвать понятнее, как название преимущества
.portfolio-title{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 30px 45px;
    top:50%;
    left: -75px;
    width: 107%;
    text-align: center;
    margin-left: 30px;
    transform: translateY(-50%);
    font-weight: 100;
    z-index: 10;
    // border: 1px solid #f1f1f1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.portfolio-title--center{
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.portfolio-item{
    background-color: #fff;
    width: 100%;
    min-height: 550px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    color: #fff;

    // margin-top: 15px;
    .portfolio-item_inner{
        width: 80%;
        height: 100%;
        padding-top: 120px;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .portfolio-item__section--logo{
        // display: table-cell;
        vertical-align: middle;
        // padding:0 10% 0 12%;
        position: relative;
        width: 100%;
        // display: table;
        text-align: center;
        padding-right: 60px;
        margin: 0 0 60px 0;
        @media (max-width: 768px){
            display: block;
        }
    }
    .portfolio-item__logo{
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        transform: translateX(-205%);
        float: left;
        top: 175px;

    }
    .portfolio-item__title{
        font-size: 80px;
        font-weight: 100;
        margin: 0;
        // display: table-cell;
        vertical-align: middle;
        // padding-right: 30px;
    }
    .portfolio-item__annotation{
        font-size: 18px;
        // display: table-cell;
        max-width: 500px;
        margin: 15px auto 30px;
        font-weight: 300;
    }
    .portfolio-item_char{
        // display: table-row;
        margin-bottom: 75px;
        width: 100%;
        // float: left;
        display: table;
        padding: 0px;
    }
    .portfolio-item_char:first-child{

    }
    .portfolio-item_char:after{
        content: '';
        display: table;
        clear:both;
    }
    .portfolio-item_char-name{
        font-weight: 100;
        font-size: 36px;
        vertical-align: middle;
        display: table-cell;
        margin-bottom: 15px;
        text-align: right;
        width: 45%;
        padding-right: 30px;
    }
    .portfolio-item_char-value{
        width: 50%;
        font-size: 18px;
        font-weight: 300;
        display: table-cell;
        vertical-align: middle;
    }
    .portfolio-item_char-list{
        padding-left: 25px;
        li{
            margin-bottom: 10px;
            padding-left: 30px;
        }
    }
    .portfolio-item_char.portfolio-item_char__result{
        width: 100%;
        // padding: 30px;
        color: #333;
        background-color: #FFF;
        border-radius: 5px;
        padding: 0;
        .portfolio-item_char-name{
            display: table-cell;
            width: auto;
            padding: 30px;
        }
        .portfolio-item_char-value{
            display: table-cell;
            // padding: 30px;
            width: auto;
            background-color: #FFF;
        }
        .portfolio-item_char-list{
            padding: 0px;
            margin-bottom: 0;
            li{
                padding: 20px 30px;
                vertical-align: middle;
                display: table-cell;
                border-left: 1px #eee solid;
            }
        }
    }
    .portfolio-item__section--desc-wr{
        // display: table-cell;
        vertical-align: middle;
        .portfolio-item__section--desc__card{
            margin-bottom: 30px;
        }
        @media (max-width: 768px){
            display: block;
        }
    }
    &#prez{
        background-image: linear-gradient(135deg, #D86566, #FF9770 60%);
    }
    &#astkol{
        background-image: linear-gradient(90deg, #421e3a, #943954);
    }
    &:first-child{
        .portfolio-item_inner{
            // transform: translateY(-75%);
            height: 83%;
            padding-bottom: 120px;
            // padding-top: 0;
        }
    }
}

.portfolio_preview-wr{
    padding: 15px;
}

.portfolio_preview{
    // background-color: #f8f8f8;
    // border: 1px #eee solid;
    // background-color: #FFF;
    padding: 30px;
    padding-top: 60px;
    .text-title-3{
        color: #fff;
        font-weight: 500;
        opacity: 0.2;
    }
}
