@import "variables.scss";

.services{
    position: relative;
    padding: 60px 0 60px 0;
    margin: 15px;
}

.services-list_item{
    // margin-bottom: 30px;
    border-radius: 5px;
    // padding: 6% 5% 8% 5%;
    padding: 6% 2% 0% 5%;
    text-align: left;
    &:first-child{
        // padding-left: 4.5%;
    }
    &:last-child{
        // padding-right: 4.2%;
    }
    &:hover{
        .service_icon{
            // box-shadow: inset 0px 0 23px 0px rgba(0, 0, 0, 0.08);
            background-color: $color__golden__light;
            box-shadow: inset 6px 0 36px 15px rgba(0, 0, 0, 0.01);
        }
        .service_desc{
            // display: block;
            opacity: 1;
        }
    }
    @media (max-width: 768px){
        margin-bottom: 0;
    }
}

.services-list_title{
    @media (min-width: 769px){
        position: absolute;
        top:20px;
        // transform: translateY(-50%);
        width: 30%;
        text-align: right;
        // margin-left: 60px;
    }
}

.service{
}

.service_icon{
    background-color: #fff;
    width: 20px;
    height: 20px;
    // margin: 0px auto 20px auto;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: inset 6px 0 36px 15px rgba(0, 0, 0, 0.06);
    position: absolute;
    // left: -10px;
    // top: 55px;
    left: -14.5%;
    top: 4px;
    @media (max-width: 768px){
        top: 0px;
        left: 0px;
        position: relative;
        background-color: $color__golden__light;
            box-shadow: inset 6px 0 36px 15px rgba(0, 0, 0, 0.01);
    }
}

.service_icon__golden{
    background-color: $color__golden__light;
    box-shadow: inset 6px 0 36px 15px rgba(0, 0, 0, 0.01);
}

.service_title{
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 24px;
    position: relative;
}

.service_desc{
    font-weight: 300;
    font-size: 17px;
    // display: none;
    // position: absolute;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2s;
    @media (max-width: 1024px){
        // margin-bottom: 15px;
        opacity: 1;
        position: relative;
    }
}

.service_desc__special{
    font-size: 22px;
    font-weight: 100;
    margin-left: 15px;
    margin-top: 20%;
    text-align: left;
}
