@import "variables.scss";

a{
    color: $color__text__main;
    &:hover{
        color: $color__golden__dark;
        text-decoration: none;
    }
}

.p-n{
    padding: 0;
}

.p-n-sides{
    padding-left: 0;
    padding-right: 0;
}

.table{
	display: table;
}